The DataSets were download from https://www.ico.org/ . The visualization linked to this Data Cleaning process only contains the results from table1, as the interest remained in analyzed 
the historical Data on the global coffee trade by crop year (1990-2019). However, the other datasets (data sorted by calendar year) and the price paid to growers and retail prices were 
cleaned as well, to improve cleaning tasks and lay the datasets for future analysis or visualization.

In [48]:
# First, let's import the packages we will use in this project

import pandas as pd
import regex as re
import tabulate
import csv
import os

In [49]:
# Let's take a look at the data

df = pd.read_csv('Total_Production.csv')
pd.set_option('display.max_columns', None)
df

,Total production by all exporting countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,In thousand 60kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Crop year,NaN,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,April group,NaN,"40,795","42,530","46,868","40,167","39,990","29,396","44,298","39,476","50,892","60,964","44,389","43,821","61,378","41,168","53,794","48,116","63,836","52,917","68,552","61,568","71,811","64,395","75,896","74,494","69,873","71,332","75,508","70,324","81,708","76,076"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Viet Nam,(R/A),"1,310","1,438","2,340","3,020","3,632","3,970","5,752","6,979","7,052","11,631","14,841","13,093","11,574","15,337","14,370","13,842","19,340","16,405","18,438","17,825","20,000","26,500","23,402","27,610","27,241","31,090","27,819","33,432","30,283","30,487"
63,Yemen,(A),0,0,0,0,0,0,0,0,69,61,64,62,57,193,206,203,207,198,220,135,161,185,188,187,178,156,143,132,86,91
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Total,NaN,"93,230","101,267","98,524","91,761","93,314","87,321","103,308","99,887","108,866","131,383","113,746","107,902","122,625","105,503","116,078","111,169","135,400","121,842","134,800","127,873","140,078","141,327","151,184","153,910","150,302","156,126","162,320","163,693","172,461","165,053"
66,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# Looking at the columns type

df.dtypes.value_counts()

object    32
Name: count, dtype: int64

In [51]:
# The column names are in the rows, more precisely on row 2, so let's pull the years data

pd.DataFrame(df.loc[2]).head()

                                                     2
Total production by all exporting countries  Crop year
Unnamed: 1                                         NaN
Unnamed: 2                                     1990/91
Unnamed: 3                                     1991/92
Unnamed: 4                                     1992/93

The data came from different csv files but it could be possible stablish two groups, one from the crop year and the other one from the calendar year. Crop years differ from calendar years since
it starts at the moment when crops are ready to be collected. For example, Colombia's crop year begins on October 1990, then the crop year will go through october 1991, which slice distinguish from the current calendar year. Speaking of coffee, there are three main dates for crop: April, July and October; with this in mind, now we know why the 1990/91 column and so the other columns
means.
<br>
Another interest thing that can be see it from the dataset is that on the unnamed: 1 column row 62 and 63 has (R/A) and (A) values. What this means is the type or kind of coffee that is cropped.
R means Robusta and A means Arabica. There are some countries (like Viet Nam) that crops both of these type of coffees.
<br>

In [52]:
# Following the ideas above, we need to look for those three crop years and try to group by each, so we need to know which countries belong to each group.
# Because of the dataset is not so big, we can look into the index and see when each group begins and ends, that would give us the countries indexes

print(df.to_markdown())

|    | Total production by all exporting countries   | Unnamed: 1   | Unnamed: 2   | Unnamed: 3   | Unnamed: 4   | Unnamed: 5   | Unnamed: 6   | Unnamed: 7   | Unnamed: 8   | Unnamed: 9   | Unnamed: 10   | Unnamed: 11   | Unnamed: 12   | Unnamed: 13   | Unnamed: 14   | Unnamed: 15   | Unnamed: 16   | Unnamed: 17   | Unnamed: 18   | Unnamed: 19   | Unnamed: 20   | Unnamed: 21   | Unnamed: 22   | Unnamed: 23   | Unnamed: 24   | Unnamed: 25   | Unnamed: 26   | Unnamed: 27   | Unnamed: 28   | Unnamed: 29   | Unnamed: 30   | Unnamed: 31   |
|---:|:----------------------------------------------|:-------------|:-------------|:-------------|:-------------|:-------------|:-------------|:-------------|:-------------|:-------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|:--------------|
|  0 | In thousand 60kg bags                         | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           |
|  1 | nan                                           | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           |
|  2 | Crop year                                     | nan          | 1990/91      | 1991/92      | 1992/93      | 1993/94      | 1994/95      | 1995/96      | 1996/97      | 1997/98      | 1998/99       | 1999/00       | 2000/01       | 2001/02       | 2002/03       | 2003/04       | 2004/05       | 2005/06       | 2006/07       | 2007/08       | 2008/09       | 2009/10       | 2010/11       | 2011/12       | 2012/13       | 2013/14       | 2014/15       | 2015/16       | 2016/17       | 2017/18       | 2018/19       | 2019/20       |
|  3 | nan                                           | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           |
|  4 | April group                                   | nan          | 40,795       | 42,530       | 46,868       | 40,167       | 39,990       | 29,396       | 44,298       | 39,476       | 50,892        | 60,964        | 44,389        | 43,821        | 61,378        | 41,168        | 53,794        | 48,116        | 63,836        | 52,917        | 68,552        | 61,568        | 71,811        | 64,395        | 75,896        | 74,494        | 69,873        | 71,332        | 75,508        | 70,324        | 81,708        | 76,076        |
|  5 | Angola                                        | (R/A)        | 50           | 79           | 78           | 33           | 77           | 62           | 71           | 64           | 85            | 55            | 50            | 21            | 57            | 38            | 15            | 25            | 35            | 36            | 38            | 13            | 35            | 29            | 33            | 35            | 39            | 41            | 45            | 35            | 42            | 52            |
|  6 | Bolivia (Plurinational State of)              | (A)          | 123          | 104          | 120          | 51           | 117          | 142          | 125          | 141          | 138           | 158           | 148           | 94            | 127           | 103           | 155           | 110           | 146           | 116           | 120           | 128           | 117           | 132           | 105           | 120           | 100           | 84            | 78            | 84            | 83            | 81            |
|  7 | Brazil                                        | (A/R)        | 27,286       | 27,293       | 34,603       | 28,167       | 28,192       | 18,060       | 29,197       | 26,148       | 36,761        | 47,578        | 31,310        | 31,365        | 48,352        | 28,873        | 39,281        | 32,933        | 48,432        | 38,911        | 51,491        | 43,977        | 55,428        | 48,592        | 55,418        | 54,689        | 53,305        | 52,871        | 56,788        | 52,740        | 65,131        | 58,211        |
|  8 | Burundi                                       | (A/R)        | 487          | 667          | 620          | 393          | 664          | 434          | 401          | 250          | 492           | 351           | 487           | 144           | 454           | 338           | 437           | 103           | 499           | 133           | 412           | 112           | 353           | 204           | 406           | 163           | 248           | 269           | 196           | 202           | 204           | 272           |
|  9 | Ecuador                                       | (A/R)        | 1,504        | 2,124        | 1,185        | 2,069        | 2,376        | 1,888        | 1,993        | 1,191        | 1,206         | 1,198         | 854           | 793           | 582           | 641           | 780           | 935           | 1,035         | 950           | 771           | 813           | 854           | 825           | 828           | 666           | 644           | 644           | 645           | 624           | 496           | 559           |
| 10 | Indonesia                                     | (R/A)        | 7,441        | 8,493        | 5,569        | 6,743        | 5,368        | 4,573        | 8,221        | 7,621        | 7,296         | 6,557         | 6,987         | 6,833         | 6,731         | 6,404         | 7,536         | 9,159         | 7,483         | 7,777         | 9,612         | 11,380        | 9,129         | 6,889         | 13,070        | 12,901        | 10,946        | 12,585        | 11,541        | 10,852        | 9,618         | 11,433        |
| 11 | Madagascar                                    | (R)          | 982          | 933          | 1,122        | 442          | 641          | 785          | 849          | 624          | 992           | 427           | 362           | 147           | 445           | 435           | 522           | 599           | 587           | 614           | 728           | 457           | 530           | 585           | 500           | 584           | 501           | 414           | 453           | 404           | 379           | 383           |
| 12 | Malawi                                        | (A)          | 105          | 124          | 137          | 62           | 84           | 91           | 49           | 61           | 64            | 59            | 63            | 60            | 42            | 48            | 21            | 24            | 17            | 19            | 21            | 17            | 17            | 26            | 23            | 28            | 25            | 21            | 20            | 14            | 13            | 16            |
| 13 | Papua New Guinea                              | (A/R)        | 963          | 747          | 900          | 1,019        | 1,139        | 1,002        | 1,089        | 1,074        | 1,352         | 1,387         | 1,041         | 1,063         | 1,085         | 1,155         | 998           | 1,268         | 807           | 968           | 1,028         | 1,038         | 867           | 1,414         | 716           | 835           | 798           | 712           | 1,171         | 734           | 930           | 752           |
| 14 | Paraguay                                      | (A)          | 131          | 80           | 54           | 67           | 25           | 26           | 31           | 49           | 32            | 19            | 22            | 22            | 36            | 47            | 38            | 44            | 35            | 39            | 20            | 20            | 20            | 20            | 20            | 20            | 20            | 20            | 20            | 20            | 20            | 20            |
| 15 | Peru                                          | (A)          | 937          | 1,200        | 1,762        | 665          | 1,179        | 1,871        | 1,806        | 1,930        | 2,102         | 2,744         | 2,676         | 2,829         | 3,000         | 2,686         | 3,425         | 2,489         | 4,319         | 3,063         | 3,872         | 3,286         | 4,069         | 5,373         | 4,450         | 4,106         | 2,883         | 3,304         | 4,223         | 4,279         | 4,263         | 3,836         |
| 16 | Rwanda                                        | (A)          | 535          | 484          | 639          | 444          | 22           | 329          | 293          | 193          | 223           | 307           | 273           | 296           | 320           | 266           | 450           | 337           | 351           | 224           | 369           | 259           | 323           | 251           | 259           | 258           | 238           | 293           | 231           | 264           | 380           | 348           |
| 17 | Timor-Leste                                   | (A)          | 0            | 0            | 0            | 0            | 0            | 0            | 0            | 0            | 0             | 0             | 7             | 33            | 37            | 42            | 17            | 24            | 46            | 36            | 48            | 47            | 60            | 47            | 61            | 80            | 111           | 59            | 82            | 65            | 139           | 103           |
| 18 | Zimbabwe                                      | (A)          | 252          | 201          | 78           | 12           | 106          | 131          | 174          | 130          | 149           | 125           | 109           | 121           | 110           | 92            | 120           | 66            | 45            | 31            | 24            | 21            | 10            | 9             | 7             | 9             | 15            | 14            | 15            | 7             | 10            | 9             |
| 19 | nan                                           | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           |
| 20 | July group                                    | nan          | 3,618        | 2,927        | 3,161        | 2,979        | 3,049        | 3,469        | 3,014        | 3,274        | 2,687         | 2,860         | 2,445         | 2,064         | 2,269         | 1,956         | 2,267         | 2,108         | 2,176         | 2,254         | 2,948         | 2,232         | 1,887         | 1,775         | 2,263         | 1,888         | 1,793         | 1,986         | 1,933         | 1,876         | 2,324         | 2,129         |
| 21 | Congo                                         | (R)          | 3            | 3            | 3            | 3            | 8            | 12           | 14           | 3            | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             | 3             |
| 22 | Cuba                                          | (A)          | 414          | 302          | 284          | 285          | 284          | 285          | 366          | 300          | 280           | 328           | 312           | 285           | 239           | 224           | 180           | 100           | 105           | 110           | 133           | 92            | 108           | 100           | 88            | 107           | 101           | 100           | 103           | 113           | 128           | 130           |
| 23 | Dominican Republic                            | (A/R)        | 880          | 321          | 638          | 604          | 730          | 886          | 519          | 941          | 487           | 607           | 467           | 387           | 455           | 351           | 491           | 310           | 387           | 465           | 645           | 352           | 378           | 491           | 488           | 425           | 397           | 400           | 412           | 412           | 431           | 402           |
| 24 | Haiti                                         | (A)          | 393          | 463          | 500          | 451          | 450          | 514          | 428          | 432          | 439           | 399           | 420           | 403           | 374           | 374           | 365           | 356           | 362           | 359           | 359           | 351           | 350           | 349           | 350           | 345           | 343           | 341           | 342           | 342           | 347           | 347           |
| 25 | Philippines                                   | (R/A)        | 974          | 1,018        | 920          | 875          | 877          | 850          | 890          | 935          | 677           | 622           | 341           | 263           | 255           | 293           | 355           | 432           | 441           | 446           | 587           | 730           | 189           | 180           | 177           | 186           | 193           | 208           | 215           | 203           | 206           | 307           |
| 26 | Tanzania                                      | (A/R)        | 932          | 790          | 786          | 734          | 679          | 897          | 764          | 624          | 739           | 842           | 809           | 624           | 824           | 612           | 763           | 804           | 822           | 810           | 1,186         | 675           | 846           | 641           | 1,151         | 811           | 753           | 930           | 846           | 783           | 1,175         | 926           |
| 27 | Zambia                                        | (A)          | 23           | 29           | 29           | 27           | 21           | 26           | 33           | 38           | 62            | 59            | 93            | 100           | 119           | 100           | 110           | 103           | 56            | 61            | 35            | 28            | 13            | 11            | 5             | 11            | 3             | 4             | 13            | 19            | 34            | 15            |
| 28 | nan                                           | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan          | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           | nan           |
| 29 | October group                                 | nan          | 48,817       | 55,811       | 48,495       | 48,615       | 50,274       | 54,456       | 55,996       | 57,137       | 55,287        | 67,559        | 66,912        | 62,017        | 58,978        | 62,379        | 60,016        | 60,945        | 69,389        | 66,672        | 63,299        | 64,073        | 66,379        | 75,157        | 73,024        | 77,529        | 78,635        | 82,809        | 84,879        | 91,492        | 88,429        | 86,848        |
| 30 | Cameroon                                      | (R/A)        | 1,682        | 1,726        | 260          | 683          | 406          | 660          | 1,432        | 889          | 1,114         | 1,370         | 1,113         | 686           | 801           | 900           | 727           | 870           | 818           | 795           | 725           | 902           | 527           | 669           | 371           | 404           | 483           | 391           | 292           | 370           | 310           | 268           |
| 31 | Central African Republic                      | (R)          | 175          | 125          | 134          | 166          | 250          | 108          | 208          | 114          | 215           | 241           | 113           | 68            | 92            | 43            | 29            | 23            | 114           | 43            | 60            | 112           | 78            | 91            | 23            | 90            | 63            | 100           | 37            | 60            | 37            | 55            |
| 32 | Colombia                                      | (A)          | 14,396       | 17,980       | 14,947       | 11,422       | 12,964       | 12,938       | 10,779       | 12,122       | 10,868        | 9,512         | 10,519        | 11,950        | 11,712        | 11,053        | 11,429        | 11,952        | 12,164        | 12,515        | 8,664         | 8,098         | 8,523         | 7,653         | 9,927         | 12,124        | 13,333        | 14,009        | 14,634        | 13,824        | 13,866        | 14,100        |
| 33 | Costa Rica                                    | (A)          | 2,562        | 2,760        | 2,998        | 2,359        | 2,482        | 2,844        | 2,222        | 2,617        | 2,445         | 2,485         | 2,419         | 2,247         | 2,043         | 1,886         | 1,876         | 1,653         | 1,706         | 1,797         | 1,500         | 1,477         | 1,614         | 1,831         | 1,823         | 1,552         | 1,475         | 1,440         | 1,372         | 1,561         | 1,427         | 1,472         |

In [53]:
# Functions has three parameters: the dataframe, the columname which explains what the number values means and rows which has the list of nan rows to drop
# First function will clean the data for the csv with crop year format

def CleaningCropYear(df,columname,rows):

    # Getting the indexes of the countries that belong to each crop year group and creating a column call it Crop Group to put the countries into it

    april_index = df.loc[5:18].index.values.astype(int)
    july_index = df.loc[21:27].index.values.astype(int)
    october_index = df.loc[30:63].index.values.astype(int)
    df['Crop Group'] = 'Crop Group'
    for i in range(0,len(df)):
        for ai in april_index:
            if i == ai:
                df.loc[:,'Crop Group'][i] = 'April Group'
                break
            else:
                continue
        for ji in july_index:
            if i == ji:
                df.loc[:,'Crop Group'][i] = 'July Group'
                break
            else:
                continue
        for oi in october_index:
            if i == oi:
                df.loc[:,'Crop Group'][i] = 'October Group'
                break
            else:
                continue

    # As we are working with string values to avoid errors related to parse strings with missing values, we will fill it with the 99 string

    df = df.fillna('99')

    # Getting the years values

    years = pd.DataFrame(df.loc[2])
    years_names = years[2]
    
    columns_toModify = df.columns
    
    # The comment lines below will change the column year format from 1990/91 to 1990 So, depend on if you want to use a date format use the two code lines below
    # for i in range(0,len(df.loc[2])):
    #     years_names[i] = re.sub(r'\/[\d]{2}$','',df.loc[2][i])

    # Creating a column to classify the types of Coffee
    years_names[1] = 'Type of Coffee'
    
    for i in range(0,len(columns_toModify)):
        df = df.rename(columns={columns_toModify[i]:years_names[i]})

    df = df.drop(rows)
    df = df.reset_index().drop('index',axis=1)
    df = df.rename(columns={df.columns[0]:'Countries'})
    df = df.melt(id_vars=[df.columns[0],df.columns[1],df.columns[32]],var_name='Crop Year',value_name=columname)
    
    # With the melt function we creat a column call it Crop Year that has all the column values and "unpivoted" the values 

    df['Countries'] = df['Countries'].str.strip()     
    index = 0

    # Removing the commas from the values to change the type from string to int

    for production in df[columname]:
        df[columname][index] = re.sub(r',','',production)
        index+=1
        
    df[columname] = df[columname].astype('int64')

    # Making the Type of Coffee more specific

    df['Type of Coffee'] = df['Type of Coffee'].replace('(R)','Robusta')
    df['Type of Coffee'] = df['Type of Coffee'].replace('(A)','Arabica')
    df['Type of Coffee'] = df['Type of Coffee'].replace('(R/A)','Robustica/Arabica')
    df['Type of Coffee'] = df['Type of Coffee'].replace('(A/R)','Arabica/Robusta')

    return df

def CleaningCalendarYear(df,column_name, rows):
    years = pd.DataFrame(df.loc[2])
    years_names = years[2]
    index = len(df.columns)
    columns_toModify = df.columns
    
    for i in range(0,index):
        df = df.rename(columns={columns_toModify[i]:years_names[i]})
    df = df.drop(rows)
    df = df.reset_index().drop('index',axis=1)
    df = df.rename(columns={df.columns[0]:'Countries'})
    df = df.melt(id_vars=['Countries'],var_name='Year',value_name=column_name)
    df['Countries'] = df['Countries'].str.strip()
    df = df.fillna('999')

    index = 0
    for production in df[column_name]:
        df[column_name][index] = re.sub(r',','',production)
        index+=1
    
    df[column_name] = df[column_name].astype('int64')

    return df

def CleaningCalendarYearGrowers(df,column_name, rows):
    years = pd.DataFrame(df.loc[2])
    years_names = years[2].astype('string')
    index = len(df.columns)
    columns_toModify = df.columns
    j = 0

    # Cleaning the years values

    for j in range(0,len(years_names)):
        years_names[j] = re.sub(r'.0$','',years_names[j])
        j+=1
    
    for i in range(0,index-1):
         df = df.rename(columns={columns_toModify[i]:years_names[i]})
    df = df.drop(rows)
    df = df.reset_index().drop('index',axis=1)
    df = df.rename(columns={df.columns[0]:'Countries'})
    df = df.melt(id_vars=['Countries','Type of Coffee'],var_name='Year',value_name=column_name)

    df['Countries'] = df['Countries'].str.strip()
    df = df.fillna('0')

    return df

def CleaningCalendarYearRetail(df,column_name, rows):
    years = pd.DataFrame(df.loc[2])
    years_names = years[2].astype('string')
    index = len(df.columns)
    columns_toModify = df.columns
    j = 0

    for j in range(0,len(years_names)):
        years_names[j] = re.sub(r'.0$','',years_names[j])
        j+=1
    
    for i in range(0,index):
         df = df.rename(columns={columns_toModify[i]:years_names[i]})
    df = df.drop(rows)
    df = df.reset_index().drop('index',axis=1)
    df = df.rename(columns={df.columns[0]:'Countries'})
    df = df.melt(id_vars=['Countries'],var_name='Year',value_name=column_name)
    df['Countries'] = df['Countries'].str.strip()
    df = df.fillna('0')

    return df

In [54]:
df_totalProduction = CleaningCropYear(df,'Total Production (x1000 60kg) bags',[0,1,2,3,4,19,20,28,29,64,65,66])

In [55]:
df1 = pd.read_csv('Domestic_Consumption.csv')
df_DomesticConsumption = CleaningCropYear(df1,'Domestic Consumption (x1000 60kg) bags',[0,1,2,3,4,19,20,28,29,64,65,66])

In [56]:
df2 = pd.read_csv('Gross_Opening_stock.csv')
df_grossOpeningStock = CleaningCropYear(df2,'Gross Opening Stock (x1000 60kg) bags',[0,1,2,3,4,19,20,28,29,64,65,66])

In [57]:
df3 = pd.read_csv('ExportsCropyear.csv')
df_ExportsCropYear = CleaningCropYear(df3,'Exports Crop Year in (x1000 60kg) bags',[0,1,2,3,4,19,20,28,29,64,65,66])

In [58]:
df4 = pd.read_csv('Exports.csv')
df_ExportsCalendarYear = CleaningCalendarYear(df4,'Exports of all forms of Coffee in (x1000 60kg) bags',[0,1,2,58,59,60])

In [59]:
df5 = pd.read_csv('Import.csv')
df_Imports = CleaningCalendarYear(df5,'Imports in (x1000 60kg) bags',[0,1,2,3,4,33,41,42,43])

In [60]:
df6 = pd.read_csv('ReExports.csv')
df_ReExports = CleaningCalendarYear(df6,'Re-exports by importing countries in (x1000 60kg) bags',[0,1,2,3,4,33,41,42,43])

In [61]:
df7 = pd.read_csv('Price_toGrowers.csv')

iterator = df7.index.values.astype(int)
index_toChange = df7.index[48:76].values.astype(int)
df7['Type of Coffee'] = 5
for i in iterator:
    for j in index_toChange:
        if i == j:
            df7.loc[:,'Type of Coffee'][i] = 'Robusta'
            break
        
        df7.loc[:,'Type of Coffee'][i] = 'Arabica'
df_pricePaidGrowers = CleaningCalendarYearGrowers (df7,'Price paid to Growers in US cents/lb',[0,1,2,3,4,8,9,37,38,46,47,76])

C:\Users\Janus\AppData\Local\Temp\ipykernel_15280\4075108489.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7.loc[:,'Type of Coffee'][i] = 'Arabica'

In [62]:
df8 = pd.read_csv('Retail_Prices.csv')
df_RetailPrices = CleaningCalendarYearRetail(df8,'Retail Prices of Roasted Coffee in US$/lb',[0,1,2,3,4,27,34,35,36])

In [63]:
# Once the data is cleaned, let's see which datasets has the same shape to merge them

print(df_totalProduction.shape,df_DomesticConsumption.shape,df_grossOpeningStock.shape,df_ExportsCropYear.shape)
print(df_ExportsCalendarYear.shape,df_Imports.shape,df_ReExports.shape)
print(df_pricePaidGrowers.shape,df_RetailPrices.shape)

(1650, 5) (1650, 5) (1650, 5) (1650, 5)
(1650, 3) (1050, 3) (1050, 3)
(1950, 4) (840, 3)

In [64]:
# Merge and creating the csv files to export ready for visualization

table1 = df_totalProduction.merge(df_DomesticConsumption,how='outer',on=['Countries','Type of Coffee','Crop Year','Crop Group']).merge(
    df_grossOpeningStock,how='outer',on=['Countries','Type of Coffee','Crop Year','Crop Group']).merge(df_ExportsCropYear,how='outer',on=['Countries','Type of Coffee','Crop Year','Crop Group'])
table2 = df_ExportsCalendarYear
table3 = df_Imports.merge(df_ReExports,how='outer',on=['Countries','Year'])
table4 = df_pricePaidGrowers
table5 = df_RetailPrices

In [66]:
table4['Price paid to Growers in US cents/lb'] = table4['Price paid to Growers in US cents/lb'].astype('float')

In [81]:
# table1.to_csv('path.../table1.csv',index=False)
# table2.to_csv('path.../table2.csv',index=False)
# table3.to_csv('path.../table3.csv',index=False)
# table4.to_csv('path.../table4.csv',index=False)
# table5.to_csv('path.../table5.csv',index=False)